

<div *ngIf="dataLoaded == false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


<table class="table"  >
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>brand</th>
        <th>Color</th>

    </tr>
   
    <tr *ngFor="let car of cars">

        <td>{{car.id}}</td>
        <td>{{car.name}}</td>
        <td>{{car.description}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>

        <!-- <td>{{car.carName}}</td>
        <td>{{car.carDescription}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td> -->

    </tr>
</table>

  
